<ion-header>
  <ion-toolbar>
    <ion-title>UMNian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item style="margin: 20px;">
          <ion-title style="font-size: 28px; margin-left: -10px;">Edit Profile</ion-title>
      </ion-item>
      <ion-avatar slot="start" style="margin: 30px;">
        <img src="https://img.icons8.com/cute-clipart/64/000000/add-image.png" style="max-width: 80px; max-height: 80px;">
      </ion-avatar>
      <ion-item>
        <ion-label position="floating">Name of Organization</ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Update Profil</ion-button>
    </div>
</ion-content>
