<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button menu="m1"></ion-menu-button>
        </ion-buttons>
    <ion-title class="ion-text-left">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
          <ion-card size="16" >
              <ion-col size="12" size-sm="8" offset-sm="8" text-center>
                  <ion-img style="height: 200px; width:200px; margin:auto !important; margin-top: 100px !important" src="https://upload.wikimedia.org/wikipedia/commons/f/f8/01_Icon-Community%402x.png"></ion-img>
                  <ion-label>
                  <h1> Kelompok Cross Platform </h1>
                  <h2> Septaria Dwi Natapura </h2>
                  <h2> Grant Matthew </h2>
                  <h2> Yosua Hinarno </h2>
                  <h2> Kevin Ortega </h2>
                </ion-label>
              </ion-col>
            </ion-card> 
      </ion-row>
    </ion-grid>
</ion-content>
