<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>My Post</ion-title>
    <ion-buttons slot="end">
      <a [routerLink]="['/profile']"
        ><img
          src="https://cdn2.iconfinder.com/data/icons/user-icon-2-1/100/user_5-15-512.png"
          style="width:50px;height:50px;"
      /></a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-list>
          <ion-item-sliding *ngFor="let mypost of loadednews" #slidingItem>
            <ion-item-options side="end">
              <ion-item-option (click)="editNews(mypost.id, slidingItem)">
                <ion-icon name="create" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
            <ion-item
              [routerLink]="['/', 'my-post', mypost.id]"
            >
              <ion-thumbnail slot="start">
                <ion-img [src]="mypost.imageUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>{{ mypost.title }}</h2>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed"
  [routerLink]="['/new-mypost']"
        routerLinkActive="router-link-active">
    <ion-fab-button color="primary" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>