<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>UMNian</ion-title>
    <ion-buttons slot="end">
      <a [routerLink]="['/profile']"
        ><img
          src="https://cdn2.iconfinder.com/data/icons/user-icon-2-1/100/user_5-15-512.png"
          style="width:50px;height:50px;"
      /></a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ loadednews[0].title }}</ion-card-title>
            <ion-card-subtitle>
              {{ loadednews[0].post }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="loadednews[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{ loadednews[0].location }}</p>
          </ion-card-content>
          <div text-right>
            <ion-button
              fill="clear"
              color="primary"
              routerDirection="forward"
              [routerLink]="[
                '/',
                'home',
                'detailpost',
                loadednews[0].id
              ]"
              >More</ion-button
            >
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-list>
          <ion-item 
          *ngFor="let news of loadednews.slice(1)"
          [routerLink]="['/', 'home', 'detailpost', news.id]">
            <ion-thumbnail slot="start">
              <ion-img [src]="news.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ news.title }}</h2>
              <p>{{ news.location }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

